.about {
  padding-top: 160px;
  .logo-about {
    padding-bottom: 60px;
    @include flex-box(center, center);
  }
  .about-info {
    background-image: url("../../public/about-bg.png");
    background-color: $mainColor;
    padding: 26px 0;
    .text-information {
      h2 {
        @include fontSize(32px, 500, 37.5px, white);
        margin-bottom: 20px;
      }
      p {
        @include fontSize(16px, 500, 18.75px, white);
      }
      &:first-child {
        p {
          margin-bottom: 50px;
        }
      }
    }
  }
  .obligation {
    padding-top: 35px;
    padding-bottom: 55px;
    .obligation-container {
      h2 {
        @include fontSize(32px, 500, 37.5px, $mainColor);
        margin-bottom: 20px;
      }
      p {
        @include fontSize(16px, 500, 18.75px, $mainColor);
        margin-bottom: 48px;
      }
      .obligation-cards {
        background-image: url("../../public/about-cards-bg.png");
        @include flex-box(center, center);
        flex-wrap: wrap;
        .card {
          background: #f0f6f9;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 10px;
          width: 333px;
          height: 333px;
          margin-right: 23px;
          margin-bottom: 21px;
          margin-top: 0;
          flex-direction: column;
          padding-top: 50px;
          padding-bottom: 40px;
          padding-left: 28px;
          padding-right: 14px;
          .card-text {
            height: 20%;
            p {
              margin: 0;
              text-align: center;
            }
          }
        }
      }
      ul {
        li {
          position: relative;
          padding-left: 80px;
          margin-bottom: 30px;
          @include fontSize(16px, 500, 18.75px, $darkColor);
          &::before {
            content: "";
            width: 60px;
            height: 2px;
            background-color: $mainColor;
            position: absolute;
            top: 10px;
            left: 0;
          }
        }
      }
    }
  }
  .endurance {
    padding: 43px 0;
    background-color: $grey;
    margin-bottom: 50px;
    .endurance-container {
      h2 {
        @include fontSize(32px, 500, 37.5px, white);
        margin-bottom: 20px;
      }
      p {
        @include fontSize(16px, 500, 18.75px, white);
      }
    }
  }
}
