@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

//fonts
$Roboto: "Roboto", sans-serif;
$Montserrat: "Montserrat", sans-serif;

//colors

$mainColor: #60afff;
$mainDarkColor: #49a4ff;
$darkColor: #414141;
$blackColor: #1c1c1c;
$grey: #b3c7db;
$lightBlue: #f6fbff;
