footer {
  background-color: $mainColor;
  padding-top: 43px;
  padding-bottom: 9px;
  .footer-context {
    .lists {
      @include flex-box(space-between, inherit);
      ul {
        margin-bottom: 40px;
        &:not(:last-child) {
          h4 {
            @include fontSize(24px, 500, 28px, white);
            margin-bottom: 30px;
          }
          li {
            margin-bottom: 11px;
            a {
              @include fontSize(16px, 400, 18.75px, white);
            }
          }
        }
        &:last-child {
          display: flex;
          li {
            margin-right: 20px;
          }
        }
      }
    }
    .copyright {
      @include fontSize(16px, 400, 18.75px, white);
    }
  }
}
