header {
  background-image: url(../../public/headerBg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  .header-context {
    height: 75px;
    @include flex-box(space-between, center);
    .logo {
      z-index: 3;
      cursor: pointer;
    }
    nav {
      display: flex;
      z-index: 3;
      ul {
        display: flex;
        li {
          padding: 8px 12px;
        }
      }
      .language {
        margin-left: 19px;
        background: #b3c7db;
        border: 1px solid #60afff;
        border-radius: 8px;
        padding: 4px 9px;
        @include flex-box(center, center);
        span {
          @include fontSize(14px, 500, 24px, white);
        }
      }
    }
  }
}
