.card,
.card-reverse {
  margin-top: 100px;
  @include flex-box(space-between, center);
  .card-left,
  .card-right {
    width: 50%;
  }
  .card-left {
    background: $mainColor;
    @include flex-box(flex-end, center);
    padding-top: 150px;
    padding-bottom: 150px;
    @include flex-box(center, center);
    flex-direction: column;
    .card-img {
      width: 100px;
      height: 100px;
    }
    h2 {
      margin-top: 30px;
      @include fontSize(24px, 500, 28.13px, white);
    }
  }
  .card-right {
    @include flex-box(center, center);
    .card-right-context {
      @include flex-box(center, initial);
      flex-direction: column;
      width: 350px;
      .card-header-active {
        margin-bottom: 16px;
      }
      .card-header {
        position: relative;
        &::before {
          left: -14px;
          content: "";
          width: 5px;
          height: 100%;
          position: absolute;
          background-color: $mainColor;
          border-radius: 1px;
        }

        h3 {
          margin: 16px 0;
          transition: 0.5s;
          cursor: pointer;
          &.active-color {
            @include fontSize(24px, 500, 28.13px, $mainColor);
          }
          &.no-active-color {
            @include fontSize(24px, 500, 28.13px, $grey);
          }
          &:hover {
            color: $mainColor;
          }
        }

        p {
          @include fontSize(16px, 500, 18.75px, $grey);
          width: 70%;
          margin-bottom: 20px;
        }
        .link {
          a {
            text-align: center;
            @include fontSize(18px, 700, 21.94px, $grey);
            font-family: $Montserrat;
            margin-left: 58px;
            transition: 0.5s;
            padding: 7px 35px;
            border: 1px solid #ffffff;
            border-radius: 10px;
            &:hover {
              border: 1px solid $mainColor;
              color: $mainColor;
            }
            &.active-link {
              display: inline;
            }
            &.no-active-link {
              display: none;
            }
          }
        }
        .active {
          display: block;
        }
        .no-active {
          display: none;
        }
      }
      .card-about-subject {
        ul {
          li {
            margin-top: 12px;
            margin-bottom: 12px;
            position: relative;
            @include fontSize(24px, 500, 28.13px, $grey);
            &::before {
              position: absolute;
              top: 0;
              left: -14px;
              width: 5px;
              height: 100%;
              content: "";
              border-radius: 1px;
              background-color: $grey;
            }
          }
        }
      }
    }
  }
}

.card {
  flex-direction: row;
  .card-left {
    border-radius: 0px 10px 10px 0px;
    padding-left: 319px;
  }
}
.card-reverse {
  flex-direction: row-reverse;
  .card-left {
    border-radius: 10px 0px 0px 10px;
    padding-right: 319px;
  }
}
